:root{
    --background-header: #1e6e3f;
    --border-btn-busqueda: #ffd900;
    --titulo-color: #f4f6f8;
    --ul-color: #e9e9e9;
    --color-blanco: #ffffff;
    --background-section-prod: #e9e9e9;
    --background-carrito-color: #ffffff;
    font-family: "Stack Sans Headline";
}
body{
    max-width: 2440px;
    margin: 0 auto;
    padding: 0;
}

a{
    text-decoration: none;
}

header{
    background-color: var(--background-header);

}

/* main{
    margin-top: 80px
} */

li{
    list-style: none;
}

button:hover{
    box-shadow: 2px 2px 5px black;
}

/*///////////////////
        Header
///////////////////*/

.contenedor-header{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.contenedor-img-nombre{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    white-space: nowrap;
    flex-direction: row;
    gap: 10%
}

.logo-img{
    width: 75px;
    height: auto;
    margin-left: 10%
}

.titulo-header{
    font-family: Archivo Black, Static;
;
    color: var(--titulo-color)
}

.barra-busqueda{
    width: 15%;
    height: 30px;
    border-color: var(--border-btn-busqueda);
}

.barra-busqueda:hover{
    box-shadow: 1px 1px 1px black;
}

.carrito-header{
    margin-right: 2%;   
    font-family: monospace;
    font-size: 20px;
    color: #e9e9e9;
}


.div-cerrar-sesion{
    margin-right: 1%;
}

.btn-cerrar-sesion{
    border-radius: 5px;
    border: none;
    width: 100%;
    height:40px;
    min-width: 62px;
    background-color: red;
    color: rgb(255, 255, 255);
    border: 2px solid #570000
}

/*///////////////////
        Main
///////////////////*/

#saludo-usuario{
    display: flex;
    justify-content: center;
    background-color: #e9e9e9;
    font-size: 20px;
    font-family: arial;
    padding-top: 10px;
    padding-bottom: 10px;
}

.section-prod-seleccion, .section-prod-clubes{
    background-color: var(--background-section-prod);
}


.ul-prod-seleccion, .ul-prod-clubes{
    background-color: var(--ul-color) ;
    max-width: 75em;
    margin:auto;
    display: flex;
    flex-wrap: wrap;
    gap: 4%;
    justify-content: center;
    padding: 0;
}

.div-categoria-prod{
    background-color: #27ae60;
    display: flex;
    justify-content: center;
    font-family: arial;
}

.h2-categoria-prod{
    margin:0;
    padding: 1%;
    color:beige;
    font-size: 25px;
}

.lista-prod{
    border-radius: 15px;
    min-width: 215px;
    min-height: 300px;
    max-width: 220px;
    max-height: 350px;
    width: 15%;
    margin-top: 10px;
    margin-bottom: 10px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    background-color: #e7f5eb;
    border: 1px solid #000000;
}


.lista-prod:hover{
    box-shadow: 3px 3px 3px black;
    border: 1px solid #000000;
    background-color: #d3d4d3;
    transform: scale(1.06);
}

.contenedor-descripcion{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.contenedor-img-prod{
    margin: 5% 0 0 9%;
    width: 80%;
    height: 58%;
}

.contenedor-name-prod{
    margin: 2% 0 0 0;
    font-size: 100%;
}

.contenedor-price-prod{
    margin: 8% 0 8% 0;
    font-size: 100%;
}

.contenedor-btn{
    display: flex;
    justify-content: space-evenly;
    height: 8%;
}

.sumar-producto, .restar-producto{
    width: 20%;
    border-radius: 5px;
    border: none;
    font-size: 150%;
}

.sumar-producto{
    background-color: green;
}

.restar-producto{
    background-color:red;
}

.sumar-producto:hover{
    background-color: greenyellow;
}

.restar-producto:hover{
    background-color: rgb(255, 131, 131);
}


.section-carrito{
    background-color: #266430;
    padding: 1%;
}

.div-carrito-prods{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-carrito{
    margin-top: 0;
    padding-top:2.5%;
    color: #e7f5ed;
}

.total-carrito{
    display:flex;
    justify-content: flex-end;
    color: #e9e9e9;
}

.elementos-carrito{
    width: 55%;
    color: #e7f5ed;
    font-size: 120%;
    display: flex;
    flex-direction: column;
}

#items-carrito{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.btn-carrito{
    display: flex;
    justify-content: space-between;
}

#btn-vaciar-carrito, #btn-pagar-carrito, .btn-eliminar-item{
    border-radius: 5px;
    border: none;
    width: 5%;
    min-width: 62px;
}

.btn-eliminar-item, #btn-vaciar-carrito{
    background-color: red;
    color: white;
    border: 2px solid #570000
}

.btn-eliminar-item{
    width: 10%;
    height: 35px;
}

#btn-pagar-carrito{
    background-color: #a6a696;
    border: 2px solid #44443b;
    color: black;
}

.btn-eliminar-item:hover, #btn-vaciar-carrito:hover{
    background-color: rgb(255, 130, 130);
}

#btn-pagar-carrito:hover{
    background-color: #ffffe5;
}

.hidden{
    display: none;
}

.visible{
    display: block;
}






.contenedor-header-login{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo-img-login{
    width: 75px;
    height: auto;
}

.contenedor-bienvenida{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.texto-bienvenida{
    font-size: 70px;
    margin: 4.5% 0 4% 0;
}

.texto-nombre{
    font-size: 35px;
    margin: 0 0 3% 0;
}

#form-bienvenida{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#input-nombre, .btn-entrar{
    max-width: 305px;
    margin-bottom: 1%;
}

#input-nombre{
    max-width: 245px;
    min-width: 163px;
    width: 15.5%;
    height: 30px;
    background-color: #e7f5ed;
    border-radius: 5px;
    font-family: arial;
    border: solid 2px green;
}

.btn-entrar{
    max-width: 255px;
    min-width: 173px;
    background-color: #1e6e3f;
    border-radius: 25px;
    width: 15.9%;
    height: 33px;
    color: var(--background-carrito-color);
    border: solid 2px #1e6e3f;
}

.btn-entrar:hover{
    background-color: #34c06e;
}
