<header>
        <div class="logo">
            <a href="/dashboard/index" class="logo-container">
                <img src="assets/img/pumpernic-cuadrado.png" alt="logo pumpernic">
            </a>
        </div>

        <ul class="enlaces">
            <li class="enlace">
                <a href="/dashboard/index">
                    <span>VER</span>
                </a>
            </li>

            <li class="enlace">
                <a href="/dashboard/consultar">
                    <span>CONSULTAR</span>
                </a>
            </li>

            <li class="enlace">
                <a href="/dashboard/crear">
                    <span>CREAR</span>
                </a>
            </li>

            <li class="enlace">
                <a href="/dashboard/modificar">
                    <span>MODIFICAR</span>
                </a>
            </li>

            <li class="enlace">
                <a href="/dashboard/eliminar">
                    <span>ELIMINAR</span>
                </a>
            </li>
        </ul>
            <!-- Boton de logout -->
        <form class="form-logout" action="/login/destroy" method="post">
            <input type="submit" value="Cerrar sesion">
        </form>

    </header>